*{
    font-family: XDPrime;
}
.banner{
    background: url("./images/banner7-01-01.png");
    background-size: cover;
}
.banner h4{
    color: #181818;
}

.banner h5{
    color: #835F48;
}

.nav-link{
    color: #181818 !important;
}

.nav-link:hover {
    color: #DBD0CA !important;
}

.fw-medium{
    font-weight: 500 !important;
}
.radius{
    border-radius: 1.5rem;
}
.footer{
    /* background-color: #181818 !important; */
    color: #181818;
}

.icon-group{
    display: flex;
    margin-right: 1.8rem;
}

.icon-item{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #080809;
    background-color: #E7E7E7;
    height: 2.5rem;
    width: 2.5rem;
    border: 0;
    font-size: 20px;
}

.shadow-social{
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
}

#facebook{
    background-color: white;
    color: black;
}

.the-blur{
    position: fixed;
    top:0;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    background: rgba(0,0,0,.4);
    z-index:1010;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
 }

 .font-color h3{
     color: #ffffff;
 }
 .ft-color{
     color: #835F48 !important;
 }